[submodule "origins/stephanstapel/ZUGFeRD-csharp"]
path = origins/stephanstapel/ZUGFeRD-csharp
url = https://github.com/stephanstapel/ZUGFeRD-csharp.git

[submodule "origins/sashokfestival/DAXon"]
path = origins/sashokfestival/DAXon
url = https://github.com/sidatacom/DAXon.git

[submodule "origins/itplr-kosit/validator"]
path = origins/itplr-kosit/validator
url = https://github.com/itplr-kosit/validator.git

[submodule "origins/itplr-kosit/validator-configuration-xrechnung"]
path = origins/itplr-kosit/validator-configuration-xrechnung
url = https://github.com/itplr-kosit/validator-configuration-xrechnung.git

[submodule "origins/ConnectingEurope/eInvoicing-EN16931"]
path = origins/ConnectingEurope/eInvoicing-EN16931
url = https://github.com/ConnectingEurope/eInvoicing-EN16931.git

[submodule "origins/gflohr/e-invoice-eu"]
path = origins/gflohr/e-invoice-eu
url = https://github.com/gflohr/e-invoice-eu.git

[submodule "origins/horstoeko/zugferd"]
path = origins/horstoeko/zugferd
url = https://github.com/horstoeko/zugferd.git

[submodule "origins/easybill/e-invoicing"]
path = origins/easybill/e-invoicing
url = https://github.com/easybill/e-invoicing.git

[submodule "origins/phax/phase4"]
path = origins/phax/phase4
url = https://github.com/phax/phase4.git

[submodule "origins/pretix/python-drafthorse"]
path = origins/pretix/python-drafthorse
url = https://github.com/pretix/python-drafthorse.git

[submodule "origins/atgp/factur-x"]
path = origins/atgp/factur-x
url = https://github.com/atgp/factur-x.git

[submodule "origins/phax/ph-ubl"]
path = origins/phax/ph-ubl
url = https://github.com/phax/ph-ubl.git

[submodule "origins/num-num/ubl-invoice"]
path = origins/num-num/ubl-invoice
url = https://github.com/num-num/ubl-invoice.git

[submodule "origins/itplr-kosit/xrechnung-visualization"]
path = origins/itplr-kosit/xrechnung-visualization
url = https://github.com/itplr-kosit/xrechnung-visualization.git

[submodule "origins/phax/phase2"]
path = origins/phax/phase2
url = https://github.com/phax/phase2.git

[submodule "origins/easybill/zugferd-php"]
path = origins/easybill/zugferd-php
url = https://github.com/easybill/zugferd-php.git

[submodule "origins/itplr-kosit/xrechnung-testsuite"]
path = origins/itplr-kosit/xrechnung-testsuite
url = https://github.com/itplr-kosit/xrechnung-testsuite.git

[submodule "origins/itplr-kosit/xrechnung-schematron"]
path = origins/itplr-kosit/xrechnung-schematron
url = https://github.com/itplr-kosit/xrechnung-schematron.git

[submodule "origins/phax/phive"]
path = origins/phax/phive
url = https://github.com/phax/phive.git

[submodule "origins/phax/phive-rules"]
path = origins/phax/phive-rules
url = https://github.com/phax/phive-rules.git

[submodule "origins/phax/peppol-commons"]
path = origins/phax/peppol-commons
url = https://github.com/phax/peppol-commons.git

[submodule "origins/LandrixSoftware/XRechnung-for-Delphi"]
path = origins/LandrixSoftware/XRechnung-for-Delphi
url = https://github.com/LandrixSoftware/XRechnung-for-Delphi.git

[submodule "origins/phax/en16931-cii2ubl"]
path = origins/phax/en16931-cii2ubl
url = https://github.com/phax/en16931-cii2ubl.git

[submodule "origins/zfutura/pycheval"]
path = origins/zfutura/pycheval
url = https://github.com/zfutura/pycheval.git

[submodule "origins/digineo/xrechnung"]
path = origins/digineo/xrechnung
url = https://github.com/digineo/xrechnung.git

[submodule "origins/horstoeko/zugferdublbridge"]
path = origins/horstoeko/zugferdublbridge
url = https://github.com/horstoeko/zugferdublbridge.git

[submodule "origins/stafyniaksacha/facturx"]
path = origins/stafyniaksacha/facturx
url = https://github.com/stafyniaksacha/facturx.git

[submodule "origins/speedata/einvoice"]
path = origins/speedata/einvoice
url = https://github.com/speedata/einvoice.git

[submodule "origins/LandrixSoftware/validator-configuration-zugferd"]
path = origins/LandrixSoftware/validator-configuration-zugferd
url = https://github.com/LandrixSoftware/validator-configuration-zugferd.git

[submodule "origins/Tiime-Software/Factur-X"]
path = origins/Tiime-Software/Factur-X
url = https://github.com/Tiime-Software/Factur-X.git

[submodule "origins/kyr0/easy-erechnung"]
path = origins/kyr0/easy-erechnung
url = https://github.com/kyr0/easy-erechnung.git

[submodule "origins/koozala/pacioli"]
path = origins/koozala/pacioli
url = https://github.com/koozala/pacioli.git

[submodule "origins/itplr-kosit/validator-configuration-bis"]
path = origins/itplr-kosit/validator-configuration-bis
url = https://github.com/itplr-kosit/validator-configuration-bis.git

[submodule "origins/austriapro/ebinterface-ubl-mapping"]
path = origins/austriapro/ebinterface-ubl-mapping
url = https://github.com/austriapro/ebinterface-ubl-mapping.git

[submodule "origins/austriapro/ebinterface-xrechnung-mapping"]
path = origins/austriapro/ebinterface-xrechnung-mapping
url = https://github.com/austriapro/ebinterface-xrechnung-mapping.git

[submodule "origins/horstoeko/invoicesuite"]
path = origins/horstoeko/invoicesuite
url = https://github.com/horstoeko/invoicesuite.git

[submodule "origins/InvoiceXML/facturx-api-examples"]
path = origins/InvoiceXML/facturx-api-examples
url = https://github.com/InvoiceXML/facturx-api-examples.git

[submodule "origins/Youniwemi/digital-invoice"]
path = origins/Youniwemi/digital-invoice
url = https://github.com/Youniwemi/digital-invoice.git

[submodule "origins/easybill/en16931-validator"]
path = origins/easybill/en16931-validator
url = https://github.com/easybill/en16931-validator.git

[submodule "origins/NikolaiMe/factur-x-kit"]
path = origins/NikolaiMe/factur-x-kit
url = https://github.com/NikolaiMe/factur-x-kit.git

[submodule "origins/ZUGFeRD/REST-Converter"]
path = origins/ZUGFeRD/REST-Converter
url = https://github.com/ZUGFeRD/REST-Converter.git

[submodule "origins/mahdiabderraouf/facturx-php"]
path = origins/mahdiabderraouf/facturx-php
url = https://github.com/mahdiabderraouf/facturx-php.git

[submodule "origins/LandrixSoftware/ZUGFeRD-for-Delphi"]
path = origins/LandrixSoftware/ZUGFeRD-for-Delphi
url = https://github.com/LandrixSoftware/ZUGFeRD-for-Delphi.git

[submodule "origins/facturx-engine/facturx-engine"]
path = origins/facturx-engine/facturx-engine
url = https://github.com/facturx-engine/facturx-engine.git

[submodule "origins/en16931-visualization"]
path = origins/en16931-visualization
url = https://github.com/phax/en16931-visualization.git

[submodule "origins/eu_einvoice"]
path = origins/eu_einvoice
url = https://github.com/alyf-de/eu_einvoice.git

[submodule "origins/factur-x"]
path = origins/factur-x
url = https://github.com/akretion/factur-x.git

[submodule "origins/facturx"]
path = origins/facturx
url = https://github.com/Securibox/facturx.git

[submodule "origins/mustangproject"]
path = origins/mustangproject
url = https://github.com/ZUGFeRD/mustangproject.git

[submodule "origins/phax/phive-rules-foundations"]
path = origins/phax/phive-rules-foundations
url = https://github.com/phax/phive-rules-foundations.git
[submodule "origins/italia/fatturapa-testsdi"]
	path = origins/italia/fatturapa-testsdi
	url = https://github.com/italia/fatturapa-testsdi.git
[submodule "origins/italia/fatturapa-php-sdk"]
	path = origins/italia/fatturapa-php-sdk
	url = https://github.com/italia/fatturapa-php-sdk.git
[submodule "origins/italia/fatturapa-python"]
	path = origins/italia/fatturapa-python
	url = https://github.com/italia/fatturapa-python.git
[submodule "origins/deltazero-cz/node-isdoc"]
	path = origins/deltazero-cz/node-isdoc
	url = https://github.com/deltazero-cz/node-isdoc.git
[submodule "origins/isdoc/isdoc.pdf"]
	path = origins/isdoc/isdoc.pdf
	url = https://github.com/isdoc/isdoc.pdf.git
[submodule "origins/adawolfa/isdoc"]
	path = origins/adawolfa/isdoc
	url = https://github.com/adawolfa/isdoc.git
[submodule "origins/codemasteroy/py-finvoice"]
	path = origins/codemasteroy/py-finvoice
	url = https://github.com/codemasteroy/py-finvoice.git
[submodule "origins/samiljin/finvoice"]
	path = origins/samiljin/finvoice
	url = https://github.com/samiljin/finvoice.git
[submodule "origins/thorgate/estonian_e_invoice"]
	path = origins/thorgate/estonian_e_invoice
	url = https://github.com/thorgate/estonian_e_invoice.git
[submodule "origins/internetee/e_invoice"]
	path = origins/internetee/e_invoice
	url = https://github.com/internetee/e_invoice.git
[submodule "origins/MPrtenjak/MNetESlog"]
	path = origins/MPrtenjak/MNetESlog
	url = https://github.com/MPrtenjak/MNetESlog.git
[submodule "origins/ibistic/oioubl-schematron"]
	path = origins/ibistic/oioubl-schematron
	url = https://github.com/ibistic/oioubl-schematron.git
